<div id="consent-popup" class="cookie-consent bounceIn hidden">
    <div class="cookie-consent-wrapper">
        <p class="cookie-consent-title">Cookies & Privacy</p>
        <p class="cookie-consent-desc">SteamClassified.com uses cookies to ensure you get the best experience. By
            continuing to use SteamClassified
            you agree to our use of cookies. <a href="https://www.cookiesandyou.com/" target="_blank"
                class="cookie-learn-more">Learn
                more about cookies here.</a></p>
        <div class="cookie-consent-actions">
            <a href="/privacy-policy" class="cookie-more-info-option">more information</a>
            <button id="acceptCookieBtn" class="cookie-accept-option">Got it!</button>
        </div>
    </div>
</div>