<div class="notes-container">
    <div class="notes-text-header noSelect">
        Trade Description
    </div>
    <div class="notes-text-area">
        <div id="editor" style="min-height: 10em;"></div>
    </div>
</div>