<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>

    <meta name="description"
        content="SteamClassified.com is a cross game trading site.Create Team Fortress 2, Counter-Strike: Global Offensive and Dota 2 trade advertisement and find great deals for your items with zero hassle.">
    <link rel="canonical" href="https://steamclassified.com/">

    <%if(hasSEO){%>
        <meta name="robots" content="index, follow">
        <%}%>

            <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
            <link rel="manifest" href="/images/favicon/site.webmanifest">

            <meta property="og:title" content="<%= pageTitle %>" />
            <meta property="og:description"
                content="SteamClassified.com is a cross game trading site.Create Team Fortress 2, Counter-Strike: Global Offensive and Dota 2 trade advertisement and find great deals for your items with zero hassle." />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="https://steamclassified.com/" />
            <meta property="og:image" content="/images/OG-Image.png" />


            <%if(NODE_ENV=='production'){%>

                <!-- Global site tag (gtag.js) - Google Analytics -->
             
                <%}%>

                    <link rel="stylesheet" href="/css/style.css">
                    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body class="dark-theme">

    <div id="app" class="main-container" v-cloak>