<div v-if="item.appID==440">
    <%- include('../tf2-includes/tf2-item-attribute-icons-client-side.ejs')%>
</div>
<div v-if="item.appID==730">
    <%- include('../csgo-includes/csgo-item-attribute-icons-client-side.ejs')%>
</div>
<div v-if="item.appID==570"></div>