<div class="privacy-policy-container container" style="flex: 1;">

    <div class="privacy-policy-wrapper">

        <h2>Privacy Policy</h2>
        <hr>
        <p class="date">Last Updated: September 2, 2021</p>

        <p> At SteamClassified.com, accessible from https://steamclassified.com, one of our main priorities is the
            privacy
            of
            our visitors. This Privacy Policy document contains types of information that are collected and recorded by
            steamclassified.com and how we use it. If you have additional questions or require more information about
            our
            Privacy Policy.
        </p>

        <p> This Privacy Policy applies only to our online activities and is valid for visitors to our website with
            regards
            to
            the information that they shared and/or collect in steamclassified. This policy is not applicable to any
            information
            collected offline or via channels other than this website.</p>


        <h3>Cookies:</h3>
        <p> Cookies are small pieces of data stored on your device (computer, tablets or mobile devices).</p>

        <h3>Personal Data:</h3>
        <p> Personal Data means data about a living individual who can be identified from those data.</p>

        <h3> Information Collection And Use</h3>
        <p> We collect several different types of information for various purposes to provide and improve our Service to
            you, we
            never misuse your personal information to third-party clients.</p>

        <h3> Data We Collect:</h3>
        <div>
            <h3 style="text-decoration: underline;color: inherit;">Personal Data:-</h3>
            <p> While using our Service, we may ask you to provide us with certain personally identifiable information
                that
                can
                be
                used to contact or identify you.</p>
        </div>

        <div>
            <h3 style="text-decoration: underline;color: inherit;"> Cookies and Usage Data:-</h3>
            <p> We may use your Personal Data to contact you with newsletters, marketing or promotional materials and
                other
                information that may be of interest to you. You may opt-out of receiving any, or all, of these
                communications
                from
                us by following the unsubscribe link or instructions provided in any email we send.</p>
        </div>





        <h3> Use of Data:</h3>
        <p style=" margin-bottom: 0;"> We collect data for various purposes:-</p>
        <p class="same-p"> To provide and maintain our Service.</p>
        <p class="same-p"> To provide customer support.</p>
        <p class="same-p"> To notify you about changes to our Service.</p>
        <p class="same-p"> To gather analysis or valuable information so that we can improve our Service.</p>
        <p class="same-p"> To monitor the usage of our Service.</p>
        <p class="same-p" style="margin-bottom: 1em;"> To detect, prevent and address technical issues.</p>

        <h3> Contact Us:</h3>
        <p>If you have any questions about this Privacy Policy, please contact us on <a target="_blank"
                href="https://discord.com/invite/pd7uY8tBa3" style="color:var(--success-btn-color)">Discord</a></p>

    </div>
</div>