<div class="profile-sub-nav-container">
    <a href="/user/+<%=userId%>" class="profile-nav-menu-item <%=subNav=='trades'?'selected':''%>">
        Trades
    </a>
    <a href="/user/<%=userId%>/backpack"
        class="profile-nav-menu-item <%=subNav=='backpack'?'selected':''%>">Backpack</a>
</div>