<div class="stats container">
    <div class="stat-wrapper">
        <p class="stat-counter">11</p>
        <p class="stat-name">USERS REGISTERED</p>
    </div>
    <div class="stat-wrapper">
        <p class="stat-counter">11</p>
        <p class="stat-name">TRADES ADDED</p>
    </div>
    <div class="stat-wrapper">
        <p class="stat-counter">11</p>
        <p class="stat-name">POSTS MADE</p>
    </div>
    <div class="stat-wrapper">
        <p class="stat-counter">11</p>
        <p class="stat-name">ITEMS LOGGED</p>
    </div>
</div>