<div class="terms-of-service-container container" style="flex: 1;">

    <div class="terms-of-service-wrapper">
        <h2>Terms Of Service</h2>
        <hr>
        <p class="date">Last Updated: September 2, 2021</p>

        <h3>Terms:</h3>
        <p> These terms of Service outline the rules and regulations for the use of the Steamclassified.com Website.
            By accessing this website we assume you accept these terms and conditions. By accessing this website, you
            are
            agreeing to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and
            agree
            that you are responsible for compliance with any applicable local laws. If you do not agree with any of
            these
            terms,
            you are prohibited from using or accessing this site.</p>

        <h3>Privacy:</h3>
        <p> Steamclassified will never share your contact or email details with an outside source except as required by
            law,
            as
            required for business operations, or to send the official steamclassified.com promotional information.
            You must listen to staff members and respect their decisions. They control your access to our service.</p>

        <h3>Site Bans:</h3>
        <p> Steamclassified.com reserves the right to remove a user's access to the website for any reason. Our website
            is
            not
            obligated to provide the reason for the denial of access to the user.
            By using our site or any of our services you agree to these community rules and you confirm that you have
            read
            these
            rules.</p>

        <h3>Rules:</h3>
        <ul>
            <li> Please communicate in English.</li>
            <li> No random promotions. (Discord servers, Twitch or YouTube channel)</li>
            <li> Scamming is strictly forbidden.</li>
            <li>Don't make multiple trades for the same item.</li>
            <li> Do not spam</li>
            <li>Do not post offensive or NSFW material.</li>
            <li>Do not promote your own trades within someone else's trade.</li>
        </ul>

        <h3>Governing Law:</h3>
        <p> Steamclassified.com may revise these terms of service for its website at any time without notice. These
            Terms
            shall
            be
            governed, our failure to enforce any right or provision of these Terms will not be considered a waiver of
            those
            rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining
            provisions
            of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our
            Service.
        </p>

        <h3>Contact Us:</h3>
        <p>If you have any questions about these Terms, please contact us using <a
                href="https://discord.com/invite/pd7uY8tBa3" target="_blank"
                style="color:var(--success-btn-color)">Discord</a>.</p>

    </div>
</div>