<div class="user-quick-link-stats-container">
    <a href="<%=user.profileUrl%>" class="user-quick-link" target="_blank">Steam Profile</a>
    <a href="https://backpack.tf/profiles/<%=user.steamID%>" class="user-quick-link" target="_blank">Backpack.tf</a>
    <a href="https://rep.tf/<%=user.steamID%>" class="user-quick-link" target="_blank">Rep.tf</a>
</div>