<div class="csgo-item-attribute-icons-container">

    <% if(item.descriptions['exterior']){ %>
        <div class="csgo-item-exterior-type">
            <%=item.descriptions.exterior%>
        </div>
        <% } %>

            <% if(item.descriptions['isStatTrak']){ %>
                <div class="csgo-item-stat-trak-type">ST</div>
                <% } %>


</div>