<div class="csgo-item-attribute-icons-container">


    <div v-if="item.descriptions['exterior']" class="csgo-item-exterior-type">
        {{ item.descriptions.exterior}}
    </div>



    <div v-if="item.descriptions['isStatTrak']" class="csgo-item-stat-trak-type">ST</div>



</div>