<div class="support-ticket-options">
    <a href="/support" class="support-option <%=selectedTab =='overview'?'selected':''%>">
        Overview
    </a>
    <a href="/support/tickets/open" class="support-option <%=selectedTab =='open'?'selected':''%>">
        Open Tickets
    </a>
    <a href="/support/tickets/closed" class="support-option <%=selectedTab =='closed'?'selected':''%>">
        Closed Tickets
    </a>
    <a href="/support/reports" class="support-option <%=selectedTab =='reports'?'selected':''%>">
        Reports
    </a>
</div>